# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Contest Cosmos Combat Pilot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Contest Cosmos Combat Pilot\.idea\.idea.Contest Cosmos Combat Pilot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
